body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(199, 207, 215);
    background-image: url("https://img.freepik.com/free-photo/maple-leaf-border-background-orange-watercolor-autumn-season_53876-128735.jpg?w=2000");
    
}
.quote1{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 350px;
    width: 700px;
    margin-top: 120px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-weight:  lighter;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
    background-size: 700px 350px;
    background-image: url("https://thumbs.dreamstime.com/b/abstract-nature-autumn-background-yellow-leaves-gold-78033112.jpg");
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}   
p:hover{

}
h1{
    margin-left: 200px;
    font-style: oblique;
    margin-top: 50px;
    font-size:50px;

}
button{
   
    border-radius: 10px;
    margin-left: 265px;
    border: none;
    margin-top: 20px;
    padding:5px 12px;
    height: 50px;
    font-size: larger;
    font-family: 'Courgette', cursive;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
button:hover{
    background-color: grey;

}
.quote1{
   display: grid;
   grid-template-columns: 500px 200px;
   grid-template-rows: 200px 150px;

}
.author{
    grid-column: 2/3;
    grid-row: 2/3;
}
.quote2{
    grid-row: 1/2;
    grid-column: 1/3;
}